ATHENA_FUND_API_PORT=8081
ATHENA_FUND_POSTGRES_PORT=5433
ATHENA_FUND_REDIS_PORT=6380
ATHENA_BASE_URL=http://host.docker.internal:8080
POSTGRES_USER=athena_fund
POSTGRES_PASSWORD=athena_fund
POSTGRES_DB=athena_fund
DATABASE_URL=postgres://athena_fund:athena_fund@postgres:5432/athena_fund?sslmode=disable
REDIS_URL=redis://redis:6379/0
